html {
  background-color: #111111;
}

button {
  background-color: #333333;
  color: #eeeeee;
}

button:hover {
  background-color: #555555;
}

#characterDeselect,
#characterSelect {
  position: absolute;
  left: 50%;
  margin-left: -624px;
}

#characterSelect {
  -webkit-clip-path: url(#clipping);
  clip-path: url(#clipping);
}

#roll {
  position: relative;
  margin-top: 27%;
  left: 43%;
  /*margin-left: -50px;*/
  width: 100px;
  height: 50px;
  font-size: 20px;
}

#selectall {
  position: relative;
  margin-top: 25%;
  left: 30%;
  margin-left: -50px;
  width: 100px;
  height: 50px;
  font-size: 20px;
}

#deselectall {
  position: relative;
  margin-top: 25%;
  left: 60%;
  margin-left: -60px;
  width: 120px;
  height: 50px;
  font-size: 20px;
}

#backgroundImage {
  display: none;
  position: relative;
  width: 184px;
  height: 106px;
  background-image: url('character select.png');
  background-size: 2496px 766px;
  background-position: 0px 0px;
  margin-left: auto;
  margin-right: auto;
}

#profile {
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
  height: 50px;
  font-size: 20px;
}

#profilesave {
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
  height: 50px;
  font-size: 20px;
}

#profiledel {
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
  height: 50px;
  font-size: 20px;
}

#profiledelall {
  margin-left: -50px;
  width: 100px;
  height: 50px;
  font-size: 20px;
}

#profileParent {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  gap: 1rem;
}

#selectOptionsDiv {
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#profileDiv,
#profileSaveDiv,
#profileDelDiv,
#delAllDiv {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
